<link rel="stylesheet" href="/CSS/Normalize.css">
<link rel="stylesheet" href="/CSS/Styles.css">

<body>
    <section class="block container">
        <header class="block__header">
            <h2>Host on the Cloud to Keep Growing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, reiciendis.</p>
        </header>
        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon icon-container">
                    <svg class="icon icon--primary"><use xlink:href="/Images/sprite.svg#easy"></use></svg>
                </span>
                <h3 class="feature__heading">Super Easy to Use</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus possimus et numquam maiores iusto ipsam fuga, laborum similique nisi labore?</p>
                <a href="~" class="link-arrow">Learn More</a>
            </div>
                <img class="feature__image" src="/Images/easy.webp" alt="">
            <!-- I couldn't be bothered to to the resize and picture stuff here -->
        </article>

        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon icon-container">
                    <svg class="icon icon--primary"><use xlink:href="/Images/sprite.svg#computer"></use></svg>
                </span>
                <h3 class="feature__heading">Simply fast websites</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus possimus et numquam maiores iusto ipsam fuga, laborum similique nisi labore?</p>
                <a href="~" class="link-arrow">Learn More</a>
            </div>
            <img class="feature__image" src="/Images/fast.jpg" alt="">
        </article>

        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon icon-container">
                    <svg class="icon icon--primary"><use xlink:href="/Images/sprite.svg#settings"></use></svg>
                </span>
                <h3 class="feature__heading">WordPress made easy</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus possimus et numquam maiores iusto ipsam fuga, laborum similique nisi labore?</p>
                <a href="~" class="link-arrow">Learn More</a>
            </div>
                <img class="feature__image" src="/Images/wordpress.jpg" alt="">
            <!-- I couldn't be bothered to to the resize and picture stuff here -->
        </article>

        <article class="grid grid--1x2 feature">
            <div class="feature__content">
                <span class="icon icon-container">
                    <svg class="icon icon--primary"><use xlink:href="/Images/sprite.svg#clock"></use></svg>
                </span>
                <h3 class="feature__heading">24/7 Expert Support</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus possimus et numquam maiores iusto ipsam fuga, laborum similique nisi labore?</p>
                <a href="~" class="link-arrow">Learn More</a>
            </div>
            <img class="feature__image" src="/Images/support.jpg" alt="">
        </article>
    </section>
</body>